<!-- THE HEADER -->
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= image_tag("spartan-logo.png", :class => "logo") %>
      </div><!--end navbar-header-->


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li><%= link_to 'Home', '/' %></li>
          <li><%= link_to 'Contact', '/contact' %></li>
          <li><%= link_to 'Help', '/help' %></li>
          <li><%= link_to 'About', '/about' %></li>

          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Users', users_path %></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              </ul><!-- end dropdown-menu -->
            </li><!-- end dropdown -->
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>

        </ul><!-- end nav navbar-nav -->

        <!-- Log-in
        <div class="log_in">
          <% if logged_in? %>

            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to 'Users', users_path %> </li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              </ul>
            </div>

            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
        </div>
-->
      </div><!-- end collapse navbar-collapse -->
    </div><!-- end container-fluid -->
  </nav><!-- end navbar navbar-default -->
</header><!-- end header -->
